@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Kenia&family=Montserrat&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Kenia&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    width: 1108px;
    height: 271px;
    text-align: center;
}   

h3{
    margin: 33px;
    color: #111;
    font-family: Roboto;
    font-size: 58.93px;
    font-weight: 900;
    line-height: 68.4px; /* 116.071% */
    text-transform: uppercase;
}

.main-text{
    color: #111;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Inter;
    font-size: 19.844px;
    font-weight: 400;
    line-height: 30px; /* 151.181% */
}

.button{
    border-radius: 30px;
    background: #111;

    width: 81.08px;
    height: 38px;
    display: flex;
    justify-content: center ;
    align-items: center ;

    margin-left: 45%;
}

.button p{
    color: #FFF;
    font-family: Inter;
    font-size: 15.875px;
    font-weight: 500;
    line-height: 24px; /* 151.181% */
}